#sidenav{
    position:static;
    top: 0;
    width: 3.5em;
  /*  height: 40vh; */
    text-align: left;
    background-color: none;
    float:left;
}

@media and (max-width: 620px) {
    #sidenav {
      width: auto !important;
}
    #icon-container {
      width: auto !important;
    }
}

#icon-container{
    margin-top: 5vh;
}
