#sidenav{
    position: fixed;
    top: 0;
    width: 3.5em;
    height: 100vh;
    text-align: left;
    background-color: none;
}

@media and (max-width: 620px) {
    #sidenav {
      width: auto !important;
}
    #icon-container {
      width: auto !important;
    }
}

#icon-container{
    margin-top: 65vh;
}
