#sidenav {
  position: static;
  top: 0;
  width: 3.5em;
  /*  height: 40vh; */
  text-align: left;
  background-color: none;
  float: left;
}

@media only screen and (max-width: 620px) {
  body #sidenav {
    width: auto;
  }
  body #icon-container {
    width: auto;
  }
}

#icon-container {
  margin-top: 5vh;
}
